.blue {
  color: #3f51b5;
  font-size: 0.9em;
}
.drpdwn-width {
  width: 3rem;
}
.text-width {
  width: 95%;
  padding-top: 1.5%;
}
.scale-6 {
  padding-left: 6%;
  margin-left: 6%;
}
.width-100 {
  width: 100%;
}
.width-80 {
  width: 80%;
}
.width-15 {
  width: 15%;
}
.width-5 {
  width: 5%;
}
